.fa-brands{
  color: #000000;
  font-size: 40px;
  margin-right: 40px;
}

.teste{
  margin-top: 50px;
}

#redes-sociais{
  text-align: center;
}

#redes-sociais-links{
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}
