<h1>Event show VIEW</h1>
Titulo do evento: <%= @event.title_event %><br>
Nome do organizador: <%= current_user.company.title %><br>
Latitude: <%= current_user.company.latitude %><br>
Longitude: <%= current_user.company.longitude %>

<%# oculta o link edit se o usuario nao for o user da company %>

