<div class="banner" id="banner5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "fundo_banner_5.jpg" %>);">
  <div class="container">
    <div>
      <h2>Busque locais para tocar</h2>
      <p>Seja contratado hoje mesmo para tocar nos melhores pubs, bares e restaurantes com música ao vivo de Sâo Paulo</p>
      <%= link_to "Cadastre-se", new_user_registration_path,  class: "btn btn-light" unless user_signed_in? %>
      <%= link_to "Oportunidades de Trabalho", new_user_registration_path,  class: "btn btn-light" if user_signed_in? %>
    </div>
  </div>
</div>
