<div class="container text-center">
  <div class="row align-items-center mt-5" id="profile-container">
    <h2 id="secao2">Como funcionam nossos serviços</h2>
  </div>


  <div class="container text-center">
    <div class="row align-items-center mt-4" id="profile-container" id="banner3">
    <%= image_tag 'img-fundo-home-4.png' %>
    </div>
  </div>

</div>
