<div class="container text-center">
  <div class="row align-items-center mt-5" id="profile-container">
    <h2>Encontre músicos para o seu evento</h2>
    <p>Escolha entre os melhores, separe por estilo músical</p>
  </div>

<div row>
  <div class="container text-center">
    <div class="row align-items-center mt-4" id="profile-container">
    <%= image_tag 'img-fundo-home-2.png' %>
    </div>
  </div>
</div>


<% if user_signed_in? %>
  <%= link_to "Eventos", events_path,  class: "btn btn-light" if current_user.musician %>

  <%= link_to "Crie seu evento", new_company_event_path(@company),  class: "btn btn-light" if current_user.company %>

  <%= link_to "Minhas Propostas Pendentes", proposals_path,  class: "btn btn-light" if current_user.company %>
<% end %>
