<div>
  <div class="container text-center">
    <div class="row align-items-center mt-5" id="profile-container">
      <h2>Encontre músicos para o seu evento</h2>
      <p>Escolha entre os melhores, separe por estilo músical</p>
    </div>


    <div class="container text-center">
      <div class="row align-items-center mt-4" id="profile-container">
      <%= image_tag 'img-fundo-home-2.png' %>

    </div>
  </div>
</div>
