<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "background.jpg" %>);">
  <div class="container">
    <h1>MusicBooking</h1>
    <p>Olá! Você é proprietário de um estabelecimento e está procurando maneiras de atrair mais clientes e criar uma atmosfera animada em seu local?
       Temos a solução perfeita para você!</p>
    <% if user_signed_in? %>
      <%= link_to "Buscar Eventos", events_path,  class: "btn" if current_user.musician %>

      <%= link_to "Crie seu evento", new_company_event_path(@company),  class: "btn" if current_user.company %>

    <% end %>


    <%= link_to "Cadastre-se", new_user_registration_path,  class: "btn" unless user_signed_in? %>

  </div>
</div>
