<%= render 'banner'%>

<div class="container">
  <div >
  </div>
</div>



<% if user_signed_in? %>
  <%= link_to "Eventos", events_path,  class: "btn btn-primary" if current_user.musician %>

  <%= link_to "Crie seu evento", new_company_event_path(@company),  class: "btn btn-primary" if current_user.company %>

  <%= link_to "Minhas Propostas Pendentes", proposals_path,  class: "btn btn-primary" %>
<% end %>
