<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <%= link_to "Eventos", events_path,  class: "btn btn-primary" if current_user.musician %>

  <%= link_to "Crie seu evento", new_company_event_path(@company),  class: "btn btn-primary" if current_user.company %>
<% else %>
  <%= link_to "Cadastre-se", new_user_session_path,  class: "btn btn-primary" %>
<% end %>
