.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  z-index: 1;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



.btn {
  position: relative;
  overflow: hidden;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 25px 25px 20px;
  cursor: pointer;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-color: #ffffff;
  border-radius: 15px;
}
