#map {
  height: 100vh;
  position: sticky;
  top: 0;
  border-radius: 5px;
  margin: 2vh;
  top: 60px;
  /* altura da navbar */
  height: calc(100vh - 110px);
  /* altura total da janela menos altura da navbar */
  z-index: 50;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.7);
}

.mapboxgl-popup {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 4px;
  color: #5913dc;
  background-color: #969292;
  width: 200px;
  // max-height:600px;
}
.mapboxgl-popup-tip {
  display: none;
  background-color: transparent;
}

.mapboxgl-popup-content {

  .mapboxgl-popup-close-button{
    top: 300;
  }
}
