.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-novo {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  border-radius: 30%;
  align-items: center;
}

#change-color-rover{
  text-decoration: none;
  color: #ffffff;
  font-weight: 800  ;
  margin-right: 30px;
}

#change-color-rover-logo{
  text-decoration: none;
  color: #ffffff;
  font-weight: 800  ;
  margin-right: 30px;
}

#change-color-rover:hover{
  color: #b467d8;
}

#change-color:hover{
  color: #b467d8;
}

.notification-icon{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

}

.dropdown-menu {
  z-index: 1000; /* or any value higher than the banner's z-index */
}
