.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-novo {
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

.navbar-nav {
  border-radius: 30%;
  align-items: center;
}

#change-color-rover{
  text-decoration: none;
  color: #ffffff;
  font-weight: 800  ;
  margin-right: 30px;
}

#change-color-rover-logo{
  text-decoration: none;
  color: #ffffff;
  font-weight: 800  ;
  margin-right: 30px;
}

#change-color-rover:hover{
  color: #de96ff;
}

#change-color:hover{
  color: #b467d8;
}

.notification-icon{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

}

.dropdown-menu {
  z-index: 1000; /* or any value higher than the banner's z-index */
}

.avatar-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.navbar-toggler{
  background-color: #ffffff;
}

.navbar-toggler-icon {
  height: 1em;
  width: 1em;
}

.navbar-toggler:hover {
  background-color: transparent;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-color: #ffffff;
}

.navbar-responsive{
  display: flex;
  align-items: center;
}
.navbar-profile{
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-name{
  margin-right: 40px;
}


// @media(max-width: 992px) {
//   .navbar-responsive{
//     flex-direction: column;
//   }
// }

// @media(max-width: 768px) {
//   .navbar-responsive{
//     flex-direction: column;
//   }
// }

@media(max-width: 576px) {
  .navbar-responsive{
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav{
    flex-direction: row;
  }
  .navbar-profile{
    flex-direction: column-reverse;
    align-items: center;
  }
  .profile-name{
    margin-right: 0;
  }
}
